body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex: 1;
}


.custom-navbar {
  background-color: #315374;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  padding: 0.8rem 1.5rem;
}

.brand-text {
  font-weight: bold;
  font-size: 1.3rem;
  color: #f1f1f1;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.menu-links .nav-link-custom {
  text-decoration: none;
  font-weight: 500;
  color: #f1f1f1;
  padding: 8px 14px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.menu-links .nav-link-custom:hover {
  background-color: #f1f1f1;
  color: #000;
}

.cart-footer {
  position: absolute;
  bottom: 200px;
  right: 20px;
  background-color: #111; 
  padding: 10px 15px;
  border-radius: 12px 12px 0 0;
  z-index: 999;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.3);
}



